<div class="container home text-center">
    <h1>Home Page</h1>
    <h2>Welcome {{data[1].firstName}} {{data[1].lastName}}</h2>
    <h2>Main Content</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad earum esse libero ducimus nam exercitationem, mollitia ipsam praesentium labore, asperiores cumque ipsum at? Sunt laborum, dicta sequi reprehenderit ipsam tenetur?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet et vitae ratione autem nemo voluptate deleniti, sed modi amet harum facere sunt ad, a aspernatur architecto ipsa culpa labore. Cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet et vitae ratione autem nemo voluptate deleniti, sed modi amet harum facere sunt ad, a aspernatur architecto ipsa culpa labore. Cupiditate.</p>

    <button (click)="updateLogOut()" class="btn btn-danger">Log out</button>

</div>